<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header class="navbar">
        <div class="logo">Human Needs Tool</div>
        <nav>
            <ul class="center-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/tools">Choose Tool</a></li>
            </ul>
        </nav>
		<div class="right-nav">
        <a href="/logout" class="logout-button">Log Out</a>
		</div>
    </header>


    <main>
        <h2>Results</h2>
        <canvas id="feedbackChart" width="400" height="200"></canvas>
    </main>

    <script>

        const optimalValues = {{ optimal_values | safe }};
		const actualValues = {{ actual_values | safe }};

        // Configuración del gráfico
        const ctx = document.getElementById('feedbackChart').getContext('2d');
        const feedbackChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Certainty', 'Variety', 'Connectivity', 'Special', 'Contribution', 'Growth'],
                datasets: [
                    {
                        label: 'Optimal values',
                        data: optimalValues,
                        backgroundColor: 'rgba(0, 0, 0, 0.8)',
                        borderColor: 'rgba(0, 0, 0, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'AI values',
                        data: actualValues,
                        backgroundColor: 'rgba(128, 128, 128, 0.8)',
                        borderColor: 'rgba(128, 128, 128, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
</body>
</html>
