<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Needs Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Human Needs Tool</div>

    </header>
    
    <!-- Home Page -->
    <main class="home">
        <div class="home-box">
            <h1>Are you looking for Human Needs?</h1>
            <p>Convert abstract human needs into objective numbers with our online tool and map your target group using the 6P model.</p>
            <a href="{{ url_for('tools') }}" class="btn register-btn">Test it!</a>
        </div>
    </main>
</body>
</html>