<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6P Text Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="navbar">
        <div class="logo">Human Needs Tool</div>
        <nav>
            <ul class="center-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/tools">Choose Tool</a></li>
            </ul>
        </nav>
		<div class="right-nav">
        <a href="/logout" class="logout-button">Log Out</a>
		</div>
    </header>

    <main class="text-tool">
        <div class="tool-container">
            <h1>6P Text Tool</h1>
            <textarea placeholder="Enter your Project text here..."></textarea>
            <button class="btn">Submit</button>
        </div>
    </main>
</body>
</html>
