<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tool Selector</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">Human Needs Tool</div>
        <nav>
            <ul class="center-nav>
                <li><a href="/">Home</a></li>
                <li><a href="/tools">Choose Tool</a></li>
            </ul>
        </nav>
		<div class="right-nav">
        <a href="/logout" class="logout-button">Log Out</a>
		</div>
    </header>
    
    <main class="tool-selector">
        <div class="options-box">
            <h1>Options</h1>
            <div class="tools">
                <!-- Text Tool -->
                <div class="tool-card" onclick="location.href='/tools/text'">
                    <img src="images/library.jpeg" alt="Book Icon" style="max-width: 100%; height: auto;">
                    <h2>Text</h2>
                </div>
                <!-- Image Tool -->
                <div class="tool-card" onclick="location.href='/tools/image'">
                    <img src="images/building.jpeg" alt="Building Icon" style="max-width: 100%; height: auto;">
                    <h2>Image</h2>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
